body{
    background-image: linear-gradient(rgba(17, 17, 17, 0.62),
  rgba(17, 17, 17, 0.62)), url("https://cdn.discordapp.com/attachments/801264378493009974/1162503552187518986/427161.png?ex=653c2ccd&is=6529b7cd&hm=d20f15e5cef9cdb1724f1546a34684ee9465de62092a829a1d2e439ff6624a9d&");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    .menu{
        width: 100%;
        height: 75px;
        background-color: rgba(0, 0, 0, .5);
        position: relative;
        border-radius: 10px 10px 10px 10px;
        transition: all 0.5s ease;
    }
        
    .menu:hover{

        width: 100%;
        height: 75px;
        background-color: #101e31;
        background-size: cover;
        background-size: auto;
        position: relative;
        border-radius: 10px 10px 10px 10px;
    }
    .menu:hover::after{
        background-color: #122c4e;
        opacity: 75%;
    }
            .opcoes{
                justify-content: center;
                display: flex;
            }
            .opcoes li{
                list-style-type: none;
            }
            .opcoes a{
                
                justify-content: space-between;
                display: flex;
                margin-top: 25px;
                width: 170px;
                font-family: Bebas Neue;
                font-size: 20px;
                color: white;
                opacity: 10%;
                transition: all 0.5s ease;
                text-decoration: none;
            }
                .opcoes, #part1{
                    display: flex;
                    margin-left: 7%;

                }
                .opcoes, #part2{
                    display: flex;
                    margin-right: 10%;
                }
            .opcoes a:hover{
               
                justify-content: space-between;
                display: flex;
                width: 190px;
                margin-top: 25px;
                font-family: Bebas Neue;
                font-size: 22px;
                color: white;
                opacity: 100%;
            }
                .opcoes, #part1:hover{
                    display: flex;
                    margin-left: 7%;
                }
                .opcoes, #part2:hover{
                    display: flex;
                    margin-right: 10%;
                }
            .opcoes img{

                justify-content: space-between;
                display: flex;
                margin: auto;
                margin-top: 10px;
                width: 165px;
                height: 50px;
                opacity: 10%;
                transition: all 0.5s ease;
            }
            .opcoes img:hover{

                display: flex;
                margin: auto;
                margin-top: 10px;
                align-items: center;
                opacity: 100%;
            }
            
    .fundo1{
        width: 1000px;
        height: 970px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 15px;
        transition: all 3s ease;
    }
    .fundo1:hover{
        width: 1000px;
        height: 970px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 15px;
        transform: scale(1.015);
    }
            .introducao h1{
                font-family: Bebas Neue;
                font-size: 57px;
                text-align: center;
                color: #86bce3;
                position: relative;
                top: 35px;           
            }
            .introducao img{
                position: relative;
                top: 35px;
                left: 75px;
                border: solid rgba(255, 255, 255, 0.487);
            }
            .introducao p{
                font-family: Bebas Neue;
                font-size: 23px;
                text-align: justify;
                line-height: 30px;
                color: rgb(233, 232, 232);
                width: 700px;
                position: relative;
                left: 150px;
                top: 80px;
            }

    .fundo2{
        width: 1000px;
        height: 1700px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 40px;
        transition: all 3s ease;
    }
    .fundo2:hover{
        width: 1000px;
        height: 1700px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 40px;
        transform: scale(1.015);
    }
            .cenario h1{
                font-family: Bebas Neue;
                font-size: 40px;
                text-align: left;
                color: #86bce3;
                position: relative;
                top: 50px;
                left: 75px;
            }
            .cenario p{
                font-family: 'Bebas Neue';
                font-size: 23px;
                color: rgb(233, 232, 232);
                text-align: justify;
                width:700px;
                position: relative;
                left:150px;
                top: 40px;
            }
            .cenario img{
                position: relative;
                top: 50px;
                left: 140px;
                border: solid rgba(255, 255, 255, 0.487);
            }
    .fundo3{
        width: 1000px;
        height: 740px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 65px;
        transition: all 3s ease;
    }
    .fundo3:hover{
        width: 1000px;
        height: 740px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 65px;
        transform: scale(1.015);
    }
            .mecanicas h1{
                font-family: Bebas Neue;
                font-size: 40px;
                text-align: left;
                color: #86bce3;
                position: relative;
                top: 50px;
                left: 75px;
            }
            .mecanicas p{
                font-family: 'Bebas Neue';
                font-size: 23px;
                color: rgb(233, 232, 232);
                text-align: justify;
                width:700px;
                position: relative;
                left:150px;
                top: 40px;
            }
            .mecanicas img{
                position: relative;
                top: 50px;
                left: 200px;
                border: solid rgba(255, 255, 255, 0.487);
            }
    .fundo4{
        width: 1000px;
        height: 890px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 90px;
        transition: all 3s ease;        
    }
    .fundo4:hover{
        width: 1000px;
        height: 890px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 90px;
        transform: scale(1.015);        
    }
            .características h1{
                font-family: Bebas Neue;
                font-size: 40px;
                text-align: left;
                color: #86bce3;
                position: relative;
                top: 50px;
                left: 75px;                
            }
            .características p{
                font-family: 'Bebas Neue';
                font-size: 23px;
                color: rgb(233, 232, 232);
                text-align: justify;
                width:700px;
                position: relative;
                left:150px;
                top: 40px;
            }
            .características img{
                position: relative;
                top: 50px;
                left: 200px; 
                border: solid rgba(255, 255, 255, 0.487);               
            }
    .fundo5{
        width: 1000px;
        height: 790px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 115px;
        margin-bottom: 50px;
        transition: all 3s ease;
    }
    .fundo5:hover{
        width: 1000px;
        height: 790px;
        background-color: rgba(0, 0, 0, .5);
        border: 8px solid;
        border-color: #0e7994;
        position: relative;
        left: 183px;
        top: 115px;
        margin-bottom: 50px;
        transform: scale(1.015)
    }
        .narrativa h1{
            font-family: Bebas Neue;
            font-size: 40px;
            text-align: left;
            color: #86bce3;
            position: relative;
            top: 50px;
            left: 75px;  
        }
        .narrativa p{
            font-family: 'Bebas Neue';
            font-size: 23px;
            color: rgb(233, 232, 232);
            text-align: justify;
            width:700px;
            position: relative;
            left:150px;
            top: 40px;            
        }
        .narrativa img{
            position: relative;
            top: 50px;
            left: 140px; 
            border: solid rgba(255, 255, 255, 0.487);
        }

    .text{
        position: relative;
        text-align: justify;
        align-items: center;
        font-family: 'Bebas Neue';
        font-size: 23px;
        height: 50px;
        width: 400px;
        opacity: 100%;
        margin: auto;
        margin-top: 150px;
        margin-left: 40.5%;
        margin-bottom: 0px;
        margin-left: 15px;
        display: flex;
    }

    .botao{
            position: relative;
            text-align: center;
            align-items: center;
            height: 50px;
            width: 250px;
            opacity: 0%;
            margin: auto;
            margin-top: -56px !important;
            margin-bottom: 25px;
            display: flex;
            font-family: 'Bebas Neue';
            font-size: 23px;
            background-color: #122c4e;
            border: #0e7994 solid 3px;    
            text-decoration: none;
            transition: all 0.75s ease;   
    }
    .botao a{
            text-decoration: none;
    }
    .botao p{
            margin-left: 20px;
            text-decoration: none;
            
    }
    .botao:hover{
            opacity: 100%;
    }
    